/* single user */
#collapseExample {
  &.collapse.show {
    width: 262px;
    border-radius: 10px;
    box-shadow: -2px 0 4px 0 rgba(0, 0, 0, 0.2);
    background-color: #f5f5f5;
  }
  .card-body {
    background-color: inherit;
    border: 0;
  }
  .card-title {
    font-family: Heebo;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #34495e;
    clear: both;
    text-align: center;
    margin: 1rem auto;
  }
  .btn-close {
    margin-left: auto;
  }
  .card-avatar {
    width: 125px;
    height: 125px;
    border: solid 1px #ffffff;
    margin: auto;
    border-radius: 5rem;
  }
}
/* add user modal */
.btn-new {
  width: 100px;
  // width: 110px;
  height: 40px;
  border-radius: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px #8e44ad;
  background-color: #f5f5f5;
  color: #8e44ad;
  font-family: Heebo;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  &:hover {
    background: #8e44ad;
    color: #fff;
  }
}
