<div
  id="collapseExample"
  [ngbCollapse]="hide">
  <div
    class="card card-body"
    *ngIf="user">
    <button
      type="button"
      class="btn btn-link btn-close"
      (click)="hidePanel()">
      <i class="fa fa-close"></i>
    </button>

    <img
      class="card-avatar"
      [src]="user.avatar">
    <h3 class="card-title">{{user?.first_name}} {{user?.last_name}}</h3>
    <div class="row-fluid">
      <button
        type="button"
        class="btn btn-new"
        (click)="openEditUser(modalEdit, user)">
        <i class="fa fa-pen"></i>
        Edit
      </button>
      <button
        type="button"
        class="btn btn-new float-right"
        (click)="openEditUser(modalDelete, user)">
        <i class="fa fa-trash"></i>
        Delete
      </button>
    </div>
  </div>
</div>
