<div class="users-header">
  <div class="container">
    <h6>Home <span>/</span> Dashboard</h6>
    <div class="row">
      <h3>Users List</h3>
      <button
        type="button"
        class="btn btn-new"
        (click)="openCreateUser(modal)">
        + New User
      </button>
    </div>
  </div>
</div>
