<table class="table table-hover">
  <thead>
    <tr class="header">
      <th scope="col">User</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let user of users"
      (click)="getUser(user.id)">
      <td class="user">
        <img
          class="avatar"
          [src]="user.avatar">
        <p class="username">{{user.first_name + ' ' + user.last_name}}</p>
      </td>
      <td>
        <button
          type="button"
          class="btn btn-edit"
          (click)="openEditUser(modalEdit, user)">
          <i class="fa fa-pen"></i>
        </button>
        <button
          type="button"
          class="btn btn-delete"
          (click)="openEditUser(modalDelete, user)">
          <i class="fa fa-trash"></i>
        </button>
        <button
          type="button"
          class="btn btn-link"
          (click)="getUser(user.id)"
          aria-controls="collapseExample">
          <i class="fa fa-chevron-right"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
