// from table}
.table td {
  border: 0;
}
.header th {
  font-family: Heebo;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #7f8c8d;
  border: 0;
  width: 80%;
}

.user {
  display: flex;
  .avatar {
    border-radius: 5rem;
    width: 55px;
    height: 55px;
  }
  .username {
    font-family: Heebo;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #34495e;
    margin-left: 1rem;
    margin-top: auto;
  }
}

.btn-edit,
.btn-delete {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  margin: 0.7rem;
  padding: 0;
  border: solid 1px #8e44ad;
  background: transparent;
  i {
    color: #8e44ad;
  }
  &:hover,
  &:focus,
  &:active {
    background: #8e44ad;
    i {
      color: #fff;
    }
  }
}
.btn-link i {
  color: #8e44ad;
}

.table tbody tr {
  cursor: pointer;
  border-bottom: 1px solid #dee2e6;
  &:hover {
    background: #8e44ad;
    .username {
      color: #fff;
    }
    .btn-edit,
    .btn-delete {
      border: solid 1px #fff;
      background: transparent;
      i {
        color: #fff;
      }
    }
    .btn-link i {
      color: #fff;
    }
  }
}
