<nav class="navbar navbar-light">
  <div class="container">
    <a
      class="navbar-brand"
      routerLink="/">
      <img
        src="assets/logo.svg"
        class="d-inline-block align-top Logo">
    </a>
    <div class="navbar-expand ml-auto">
      <div class="navbar-nav">
        <a
          class="nav-item nav-link"
          href="javascript:void(0)">
          Home
        </a>
        <a
          class="nav-item nav-link"
          href="javascript:void(0)">
          About
        </a>
        <a
          class="nav-item nav-link"
          href="javascript:void(0)">
          Contact
        </a>
        <a
          class="nav-item nav-link active"
          routerLink="/">
          Login
        </a>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
