.navbar {
  height: 70px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}
.logo {
  width: 124px;
  height: 40px;
  object-fit: contain;
}
.nav-item.active {
  height: 40px;
  border-radius: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #8e44ad;
}
