.card {
  flex-direction: row;
  height: 567px;
  min-width: 768px;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  padding: 0;
  margin: 2rem auto;
  img.card-img-left {
    padding: 0;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    .card-title {
      margin-top: auto;
      font-family: Heebo;
      font-size: 25px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #34495e;
    }
    .card-text {
      font-family: Heebo;
      font-size: 15px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #7f8c8d;
      span {
        color: #8e44ad;
      }
    }
    .form {
      margin-bottom: auto;
    }
  }
  .form-control-link {
    font-family: Heebo;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8e44ad;
  }
  .submit {
    width: 94px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: #8e44ad;
  }
}
