<div class="container">
  <div class="row justify-content-center">
    <div class="card col-sm-6">
      <img
        src="assets/login/rectangle-copy.jpg"
        srcset="assets/login/rectangle-copy@2x.jpg 2x,
                 assets/login/rectangle-copy@3x.jpg 3x"
        class="card-img-left col-6">
      <div class="card-body col-6">
        <h5 class="card-title">Welcome back!</h5>
        <p class="card-text">Please login to access your <span>Spaces</span> Dashboard</p>

        <form
          novalidate
          class="form"
          [formGroup]="form"
          (ngSubmit)="onSubmit()">
          <div
            *ngIf="alert"
            class="alert alert-{{alert.type}}"
            role="alert">
            <small>{{alert.message}}</small>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input
              formControlName="email"
              matInput
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Username…">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input
              formControlName="password"
              matInput
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Password">

          </div>
          <div class="form-group">
            <a
              href="javascript:void(0)"
              class="form-control-link">
              Forgot password?
            </a>
            <button
              type="submit"
              class="btn btn-primary submit float-right">
              Submit
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
