<div class="modal-body">
  <h6>Are you sure you want to delete</h6>
  <h4 *ngIf="user">{{user.first_name}} {{user.last_name}}</h4>
  <div class="row-fluid">
    <button
      type="button"
      class="btn btn-new"
      (click)="closeModel()">
      No
    </button>
    <button
      type="button"
      class="btn btn-new float-right"
      (click)="delete()">
      Yes
    </button>
  </div>
</div>
