h6 {
  font-family: Heebo;
  font-size: 15px;
  text-align: center;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #7f8c8d;
}
h4 {
  font-family: Heebo;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #34495e;
}

.btn-new {
  width: 100px;
  // width: 110px;
  height: 40px;
  border-radius: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px #8e44ad;
  background-color: #f5f5f5;
  color: #8e44ad;
  font-family: Heebo;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  &:hover {
    background: #8e44ad;
    color: #fff;
  }
}
