<div class="modal-header">
  <img
    *ngIf="user"
    class="modal-image"
    [src]="user.avatar">
</div>
<div class="modal-body">
  <form
    novalidate
    class="form"
    [formGroup]="form"
    (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="exampleInputName">Name</label>
      <input
        formControlName="name"
        matInput
        type="text"
        class="form-control"
        id="exampleInputName"
        placeholder="Name…">
    </div>
    <div class="form-group">
      <label for="exampleInputJobTitle">Job Title</label>
      <input
        formControlName="jobTitle"
        matInput
        type="text"
        class="form-control"
        id="exampleInputJobTitle"
        placeholder="Job Title">
    </div>

    <div class="form-group row-fluid">
      <button
        type="button"
        class="btn btn-new"
        (click)="closeModel()">
        Cancel
      </button>
      <button
        type="submit"
        class="btn btn-new float-right">
        Save
      </button>
    </div>
  </form>
</div>
