/** users-list **/
.users-list {
  max-width: 1170px;
  margin: 2rem auto;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display: flex;
  app-users-list {
    flex: 3 0 0;
  }
}
