<app-user-header [modal]="createUser"></app-user-header>

<ngb-alert
  *ngIf="alert"
  [type]="alert.type"
  (close)="close()">
  {{ alert.message }}
</ngb-alert>

<div
  class="users-list"
  *ngIf="users$ | async as users">
  <app-users-list
    [users]="users.data"
    [modalEdit]="editUser"
    [modalDelete]="deleteUser"
    (selectedUser)="setEditableUser($event)"
    (message)="showAlert($event)"
    (hidePanel)="hidePanel($event)"></app-users-list>
  <app-user-view
    [user]="editableUser"
    [hide]="hide"
    [modalEdit]="editUser"
    [modalDelete]="deleteUser"
    (selectedUser)="setEditableUser($event)"
    (hideEmitter)="hidePanel($event)"></app-user-view>
</div>

<!-- model add user -->
<ng-template
  #createUser
  let-modal>
  <app-create-user
    (message)="showAlert($event)"
    (dismissModel)="closeModel($event)"></app-create-user>
</ng-template>

<!-- model edit user -->
<ng-template
  #editUser
  let-modal>
  <app-update-user
    [user]="editableUser"
    (message)="showAlert($event)"
    (dismissModel)="closeModel($event)"></app-update-user>
</ng-template>

<!-- model delete user -->
<ng-template
  #deleteUser
  let-modal>
  <app-delete-user
    [user]="editableUser"
    (message)="showAlert($event)"
    (dismissModel)="closeModel($event)"></app-delete-user>
</ng-template>
